@use 'variaveis' as v;
@use 'header';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: v.$bgColor;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
}